*{ 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#wall{
  background-image: url('imagens/lol.jpg');
  min-height: 670px;
  background-size: 100%;
  /* padding: 80px 0 0 0; */
  /* display: block; */
}

#box{
  background-color: #2F4F4F;
  width: 550px;
  height: 400px;
  border: 5px ridge #5F9EA0;
  border-radius: 5px;
  display: flex;
  margin: auto;
  padding: 30px;
  left: 325px;
  flex-grow: unset;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#enter-img{
  width: 550px;
  height: 250px;
}

#txt-box{
  line-height: 50px;
  justify-content: center;
  color: #CD9B1D;
  text-shadow: 1px 1px 2px #000000;
}

#txt-box h2{
  font-size: 20px;
}

#start{
  width: 40%;
	margin: 0 auto;
  padding: 10px;
  border: 2px solid #5F9EA0;
	margin-bottom: 10px;
  border-radius: 50px;
  align-self: center;
}

.btn{
  padding: 5px;
  width: 100px;
  height: 25px;
  border: 2px solid #5F9EA0;
  border-radius: 2px;
  background-color: #5F9EA0;
}

/* .dev-name{
  background-color: #2F4F4F;
  height: 13px;
  padding: 3px 0;
  color: #CD9B1D;
  text-shadow: 1px 1px 2px #000000;
  font-size: 12px;
  text-align: center;
  display: block;
} */

/* html2 */
#top-header{
  text-align: center;
}

#top-img{
  width: 325px;
  height: 150px;
  justify-content: center;
  bottom: 70px;
}

#menu{
  height: 20px;
  background-color: #2F4F4F;
  border-top: 5px ridge #5F9EA0;
  border-bottom: 5px ridge #5F9EA0;
  padding: 5px;
}

.menu-item{
  display: inline-block;
  list-style: none;
  flex: 1;
  justify-content: center;
}

.container{
  width: 900px;
  height:auto;
  background-color: #2F4F4F;
  display: inline-block;
  /* position: relative; */
  bottom: 65px;
  left: 200px;
  padding: 10px;
  align-items: center;
}


.modal-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center; 

}

/*Modal*/
.modal-container.mostrar{
  display: flex;
}

.modal-box{
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #988b7a;
  position: relative;
  
}

.dev-name{
  background-color: #2F4F4F;
  height: 13px;
  padding: 3px 0;
  color: #CD9B1D;
  text-shadow: 1px 1px 2px #000000;
  font-size: 12px;
  text-align: center;
}
 
@keyframes modal {
  from{
opacity: 0;
transform: translate3d(0, -60px , 0);
  } to{
opacity: 1;
transform: translate3d(0, 0 , 0);
  }
}

.mostrar.modal{
  animation: modal .3s;
  }

.fechar{
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  cursor: pointer;
  }

  @media  (max-width: 600px){
    #enter-img{
      width: 250px;
      height: 110px;
    }
    #box{
      width: 250px;
      height: 400px;
    }
    #txt-box h2{
      font-size: 15px;
    }
    #txt-box p{
      font-size: 12px;
    }
  }


